.container-left {
    height: calc(100vh - 100px);
    display: flex;
    background-image: url('/logo/lohp_en_1302x955.png');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.container-right {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    padding: 70px;
    align-items: center;
}

.logo1 {
    width: inherit;
}

.logo {
    width: 50px;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 5em;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 80px;
}

h2 {
    font-size: 3em;
    margin-top: 45px;
    font-family: sans-serif;
    font-weight: 750;
    /* margin-left: 30px; */
}

button.btn.btn-light {
    width: 380px;
    border-radius: 2em;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
    margin-top: 15px;
}

.svg_google {
    width: 25px;
}

.logo_apple{
   width: 25px;
}

.colum {
    display: flex;
    align-items: center;
}

.line_left {
    height: 0.01em;
    background-color: gray;
    margin-top: 0.4em;
    margin-left: 30px;
    width: 130px;
}

.colum_or {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 0.9em;
    font-weight: 200;
}

.line_right {
    height: 0.01em;
    background-color: gray;
    margin-top: 0.4em;
    width: 135px;
}

button.btn.btn-primary {
    width: 380px;
    font-size: 1em;
    border-radius: 2em;
    background-color: #1d9bf0;
    FONT-WEIGHT: 700;
    margin-top: 15px;
}

p {
    font-size: 12px;
    color: gray;
    width: 330px;
}

h3 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 200;
    margin-top: 2.5em;
}

button.btn.btn-outline-light {
    font-size: 17px;
    border: solid 0.07em rgba(83, 100, 113, 0.961);
    width: 380px;
    border-radius: 2em;
    font-weight: 700;
    margin-top: 16px;
}

.sign_in {
    text-decoration: none;
    color: deepskyblue;
}

button.btn.btn-outline-light:hover {
    color: rgb(29, 155, 240);
    background-color: rgb(8, 31, 46);
}

.Google {
    display: grid;
}

.navbar {
    display: flex;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    background-color: black;
    color: gray;
    font-size: 15px;
    padding-top: 15px;
    list-style-type: none;
}

a {
    justify-content: space-between;
    text-decoration: none;
    color: gray;

}

a:hover {
    text-decoration: underline;
    color: gray;
}